*,
*::after,
*::before{
  box-sizing: border-box;
}
body{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: 14px;
  line-height:1.2;
  color: #131313;
}
ul,
p,
h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  list-style: none;
}

li{
  padding-left: 0;
}
a{
  text-decoration:none;
  color: inherit;
}

.container{
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  margin-right: 70px;
}

.menu__list{
  display: flex;
  
}

.menu__item + .menu__item{
  padding-left: 10px;

}

.menu__link{
text-transform: uppercase;
padding: 42px 20px;
transition: all .3s;
}

.menu__link:hover,
.menu__link:focus{
  background-color: #131313;
  color: #ffffff;
}

.bike{
  padding: 100px 0 0;
}

.bike__inner{
  display: flex;
  justify-content: space-between;
}

.bike__column-slider{
   flex-basis: 630px;
   margin-left: 30px;
   max-width: 630px;
  }
 .bike__title{
  font-weight: 700;
  font-size: 64px;
  margin: 60px 0 5px;
 }

 .bike__subtitle{
  
  font-weight: 400;
  font-size: 32px;
  line-height: 1.22;
  margin-bottom: 56px;
  color: #6F6F6F;
 }

 .bike__text {
   max-width: 420px;
   margin-bottom: 20px;
 }

.bike__link{
  display: inline-block;
  background-color: #131313;
  color: #ffffff;
  margin-top: 80px;
  padding:  28px 71px 28px 81px;
  font-size: 20px;
  
  letter-spacing: 1.1em;
  text-transform: uppercase;
  transition: all .3s ;
}




.bike-slaider .slick-dots{
  right: 0;
  top: 52px;
}
.slick-dots{
  position: absolute;
  
}

.slick-dots li + li{
  padding-top: 10px;
}

.slick-dots button{
  font-size: 0;
  padding: 0;
  border: none;
  background-color: #131313;
  width: 2px;
  height: 25px;
  border-radius: 7px;
  cursor: pointer;
  transition: all .3s;
}
.slick-dots button:hover,
.slick-dots button:focus,
.slick-active button{
  background-color: #FF4040;
}

.bike__list{
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}
.bike__list-item{
  min-width: 160px;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align: center;
}

.bike__list-num{

  font-weight: 700;
  font-size: 14px;
  line-height: 1.21px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.bike__list-text{
  
  font-size: 12px;
  line-height: 1.25;
  margin: auto 0;

 
}

.info{
  padding-top: 150px;
  margin-bottom: 50px;
}
.info__inner{
display: flex;
}
.info__img{
  margin-right: 60px;
  flex-basis: 570px;
  width: 100%;
  object-fit: cover;
}
.info__list{
  display: flex;
  flex-direction: column;
  flex-basis: 490px;
}

.info__item +.info__item{
  padding-top: 50px;
}

.info__item-title{
  
  font-size: 16px;
  line-height: 1.19;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.info__item-text{
  max-width:  450px;
}

.characteristics{
  padding-top: 100px;
  margin-bottom: 150px;
}

.characteristics__title{
  font-weight: 700;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 1.19;
  text-transform: uppercase;
}

.characteristics__inner{
  display: flex;
}

.characteristics__img{
  align-self:center;
}

.characteristics__items{
  flex-basis: 570px;
  margin-right: 60px;
}

.characteristics__list + .characteristics__list{
padding-top: 30px;
}

.characteristics__name{
  flex-basis: 285px;
  padding-right: 25px;
  
}

.characteristics__list-title{
  padding: 2px 0 3px;
  text-transform: uppercase;
  background-color:#131313;
  color:#ffffff;
  font-weight: 700;
  line-height: 1.21;
  
  
}

.characteristics__line{
  display: flex;
  padding-top: 5px;

}

.characteristics__descr{
  flex-basis: 285px;
}

.slider{
  margin-bottom: 50px;
}

.slider__items .slick-dots{
  top: 0;
  left: 0;
}

.slider__item{
padding-left: 50px;
}

.price{
  margin-bottom: 100px;
}

.price__inner{
  position: relative;
}

.form{
max-width: 420px;
}


.form__title{
margin-bottom: 40px;
font-size: 16px;
line-height: 1.19;
text-transform: uppercase;
}

.form__text{
  max-width: 300px;
  margin-bottom: 30px;

}

.form__input-text{
  margin-bottom: 10px;
}

.form__input-name,
.form__input-phone{
width: 100%;
border:none;
padding-bottom: 10px;
margin-bottom: 20px;
border-bottom: 1px solid #131313;
}

.form__input-text,
.form__input-name::placeholder,
.form__input-phone::placeholder{
  color: #6F6F6F;
  opacity: 0.5;
}

.form__label-box{
display: flex;
margin-bottom:  50px;
}

.form__label + .form__label {
margin-left: 23px;
}

.form__input-radio{
position: absolute;
width: 1px;
height: 1px;
overflow: hidden;
clip: rect(0 0 0 0);
}

.form__input-radio:checked + .form__bike {
  display: block;
 }

.form__bike{
display: none;
position: absolute;
top: 0;
right: 0;
}



.form__radio-style {
  
  border-radius: 30px;
  width: 80px;
  height: 12px;
}

.form__radio-style--grey{
background: #6F6F6F;
}

.form__radio-style--white{
  background: #FFFFFF;
  border: 1px solid #6F6F6F;
}

.form__radio-style--red{
  background:#FF4040;
}

.form__btn{
  background-color:#131313;
  padding: 28px 71px 28px 81px;
  border: none;
  color:#FFFFFF;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 1.1em;
  cursor: pointer;
  transition: all .3s;

}

.bike__link:hover,
.bike__link:focus,
.form__btn:hover,
.form__btn:focus{
  background-color:#FF4040
}

.form__bike-price{
  font-size: 32px;
  line-height: 1.22;

  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  width: 220px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items:center;
  border: 1px solid #FF4040;
  border-radius: 50%;
  transform: translate(-50%);

}

.form__bike-price::after{
  content: "";
  position: absolute;
  width: 220px;
  height: 100px;
  border: 1px solid #FF4040;
  border-radius: 50%;
  top: 12px;
  left: 0;


}

.footer{
background-color:#131313;
}

.footer__inner{
display: flex;
justify-content: space-between;
align-items: center;
height: 100px;
}

.footer__link{
color:#ffffff;
text-decoration: underline;
font-size: 12px;
line-height: 1.25;
}



.footer__social-link + .footer__social-link{
  margin-left: 25px;
}



.footer__contacts{

color: #ffffff;
font-size: 12px;
line-height: 1.25;
}

.footer__contacts-link{
display: flex;
align-items: center;
}
.footer__contacts-link+ .footer__contacts-link{
  margin-top: 10px;
}

.footer__contacts-img{
margin-right: 10px;
}
